/* jenis ukuran px, %, vw, vh, rem */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

.navbar {
  max-width: 1200px;
  height: 12vh;
  background-color: #271cff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 40px;
  font-family: "Arial";
  margin: 20px auto;
  border-radius: 10px;
}

.navbar h1 {
  font-size: 24px;
}

.nav-content {
  display: flex;
  gap: 20px;
}

.nav-content a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
section .landing-page .tulisan {
  width: 910px;
  height: 100px;
  margin-top: -20px;
  margin-left: 70px;
  font-size: 20px;
  line-height: 34px;
}

section .landing-page .tulisan h2 {
  font-size: 22px;
}
section .landing-page .tulisan p {
  font-size: larger;
}

section .landing-page .tulisan button {
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #271cff;
  color: white;
  font-weight: 800;
  margin-top: 20px;
}

section .landing-page .foto img {
  padding: 50px;
  width: 500px;
  transition: all 0.6s ease 0.2s;
}

section .landing-page .btn-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

section .landing-page .btn-group span a {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  color: #271cff;
  padding: 10px;
  border: 3px solid #271cff;
  border-radius: 50%; /* biar lingkaran */
  display: flex; /* aktifkan flex */
  align-items: center; /* center secara vertikal */
  justify-content: center; /* center secara horizontal */
  font-size: 32px; /* atur ukuran ikon biar proporsional */
  text-decoration: none; /* hilangkan underline link */
}

.kosong {
  width: 80%;
  border-bottom: 5px #271cff dashed;
  margin: 20px auto;
}

section .information {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .information .judul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 70px;
  background-color: none;
  margin: 20px;
  border-radius: 30px;
  color: #271cff;
  border: 4px #271cff solid;
}

section .nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 20px;
}

section .nav-info a {
  text-decoration: none;
  color: #271cff;
  font-weight: 700;
  font-size: 22px;
  width: 400px;
  height: 30px;
  text-align: center;
}

section .Perkenalan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  gap: 30px;
  margin-top: 70px;
}

.Perkenalan .perkenal {
  display: inline-block;
  border: #271cff 5px dashed;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
}

.Perkenalan .foto-kenal {
  text-align: center;
}

.Perkenalan .foto-kenal img {
  width: 302px;
  height: 402px;
  border-radius: 20px;
}

.Perkenalan .perkenal {
  text-align: justify;
}

.achieve .tulisan-ac h1 {
  text-align: center;
  background-color: none;
  color: #271cff;
  margin-top: 100px;
}

.achieve .sertifikat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  margin: 20px auto;
}

.achieve .sertifikat img {
  height: 200px;
  width: 280px;
  border: #271cff 3px solid;
  display: block;
}

.achieve .sertifikat .serti p {
  text-align: center;
  font-weight: 700;
  max-width: 280px;
}

.achieve .serti {
  text-align: center;
  width: 280px; /* samakan dengan lebar gambar */
}

.achieve .serti img {
  height: 200px;
  width: 280px;
  border: #271cff 3px solid;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.achieve .serti p {
  font-weight: 700;
  margin-top: 8px;
}

/* CONTACT */
section .contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section .contact .judul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 70px;
  background-color: none;
  margin: 20px;
  border-radius: 30px;
  color: #271cff;
  border: 4px #271cff solid;
}

.contact .subjudul-kontak {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 20px;
}

.contact .subjudul-kontak p {
  text-decoration: none;
  color: #271cff;
  font-weight: 700;
  font-size: 22px;
  width: 400px;
  height: 30px;
  text-align: center;
}

.wa-gmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wa a {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 60px 40px;
  text-decoration: none;
}

.wa img {
  width: 100px;
  height: 100px;
}

.wa h1 {
  color: #4dc04b;
  font-size: 40px;
  font-weight: 800;
  display: inline;
}

.gmail a {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 40px;
  text-decoration: none;
}

.gmail img {
  width: 100px;
  height: 75px;
}

.gmail h1 {
  color: #d62929;
  font-size: 30px;
  font-weight: 800;
  display: inline;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #271cff;
}

footer .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: white;
  height: 200px;
  font-size: 25px;
}

footer .text a {
  color: white;
}

/* Hover */
.landing-page .tulisan .btn-group button:hover {
  transform: scale(0.97);
}

section .landing-page .foto img:hover {
  transform: scale(1.1);
}

.nav-content a::after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: scaleX(0);
  transition: 0.2s linear;
  transform-origin: center;
}
.nav-content a:hover::after {
  transform: scaleX(0.5);
}

section .nav-info a:hover {
  transform: scale(0.9);
}

section .nav-info a::after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 2px solid #271cff;
  transform: scaleX(0);
  transition: 0.2s linear;
  transform-origin: center;
}
section .nav-info a:hover::after {
  transform: scaleX(0.5);
}
.achieve .sertifikat .serti img:hover {
  transform: scale(0.9);
}

@media (max-width: 578px) {
  .navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    height: auto;
    padding: 15px;
    text-align: center;
    margin: 20px;
    max-width: 800px;
    gap: 15px;
  }

  .navbar h1 {
    font-size: 0.7em;

    width: 120px;
    flex-wrap: wrap;
    text-align: left;
  }

  .nav-content {
    flex-direction: row;
    gap: 10px;
    font-size: 0.3em;
  }

  .nav-content a {
    font-size: 13px;
  }

  section .landing-page {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    gap: 180px;

  }

  section .landing-page .tulisan {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
  }

  section .landing-page .foto img {
    width: 60%;
    padding: 0;

  }

  section .landing-page .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

section .nav-info {
  font-size: .4em;
  gap: 30px;
}

section .Perkenalan {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  gap: 30px;
  margin-top: 70px;}

.Perkenalan .perkenal {
  display: inline-block;
  border: #271cff 5px dashed;
  border-radius: 20px;
  width: 40vh;
  padding: 20px;
  font-size: .8em;
}

/* KONTAK */
.wa-gmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wa {
  height: 100px;
  margin-top: -50px;
}
.wa a {
  align-items: center;
  /* gap: 20px; */
  /* margin: 60px 40px; */
  text-decoration: none;
}

.wa img {
  width: 50px;
  height: 50px;
}

.wa h1 {
  color: #4dc04b;
  font-size: 1.2em;
  font-weight: 800;

}


.gmail a {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  margin: 40px 40px;
  text-decoration: none;
}

.gmail img {
  width: 50px;
  height: 37.5px;
}

.gmail h1 {
  color: #d62929;
  font-size: 1em;
  font-weight: 800;
  display: inline;
}

footer{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  height: 150px;
}
footer .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 150px;
  font-size: .6em;
  text-align: center;
}
footer .text h2 a svg{
 width: 15px;   /* atur lebar ikon */
  height: 15px;  /* atur tinggi ikon */
  stroke-width: 2; /* ketebalan garis ikon */
  margin-left: 5px; /* jarak dari teks */}
}
